<div id="sf-popup-{{ popup.metadata.id }}" class="sf-popup-overlay" style="display:none;">
    <div class="sf-popup-content">
        <span class="sf-popup-close close-popup">&times;</span>
        {{ popup.content | raw }}
    </div>
</div>
