<div id="oom-popup-{{ popup.metadata.id }}" class="oom-popup-overlay">
    <div class="oom-popup-content">
        <span class="oom-popup-close close-popup">&times;</span>
        {{ popup.content | raw }}
    </div>
</div>
